<tr>
  <td><%= link_to task.name, task_path(task) %></td>
  <td><%= task.description %></td>
  <td><%= task.status %></td>
  <td><%= task.priority %></td>
  <td><%= task.start %></td>
  <td><%= task.end %></td>
</tr>