<h3><%= t '.title' %></h3>

<%= link_to t('.new_task'), new_task_path %>
<table>
  <thead>
    <tr>
      <th><%= t 'tasks.table.name' %></th>
      <th><%= t 'tasks.table.description' %></th>
      <th><%= t 'tasks.table.status' %></th>
      <th><%= t 'tasks.table.priority' %></th>
      <th><%= t 'tasks.table.start' %></th>
      <th><%= t 'tasks.table.end' %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @tasks %>
  </tbody>
</table>