<h3><%= t '.title' %></h3>

<%= link_to t('.new_task'), new_task_path %>
<table>
  <thead>
    <tr>
      <th><%= link_to t('tasks.table.created_at'), tasks_path(created_sort: current_created_sort) %></th>
      <th><%= t 'tasks.table.name' %></th>
      <th><%= t 'tasks.table.description' %></th>
      <th><%= t 'tasks.table.status' %></th>
      <th><%= t 'tasks.table.priority' %></th>
      <th><%= t 'tasks.table.start_date' %></th>
      <th><%= t 'tasks.table.end_date' %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @tasks %>
  </tbody>
</table>