<h3><%= t '.title' %></h3>

<%= link_to t('.new_task'), new_task_path %>
<table>
  <thead>
    <tr>
      <th><%= link_to t('tasks.table.created_at'), tasks_path(column: 'created_at', direction: switch_current_direction('created_at')) %></th>
      <th><%= t 'tasks.table.name' %></th>
      <th><%= t 'tasks.table.description' %></th>
      <th><%= t 'tasks.table.status' %></th>
      <th><%= t 'tasks.table.priority' %></th>
      <th><%= t 'tasks.table.start_date' %></th>
      <th><%= link_to t('tasks.table.end_date'), tasks_path(column: 'end_date', direction: switch_current_direction('end_date')) %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @tasks %>
  </tbody>
</table>