<!DOCTYPE html>
<html>
  <head>
    <title>MyTaskManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class='navbar justify-content-end'>
      <%= link_to 'Normal User', tasks_path, class: 'btn btn-primary' %>

      <div class="dropdown show mx-3">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Resources
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><%= link_to 'Users', admin_users_path, class: 'dropdown-item' %></a></li>
          <li><%= link_to 'Tasks', admin_tasks_path, class: 'dropdown-item' %></a></li>
        </div>
      </div>

      <%= link_to 'Logout', logout_path, method: :delete, class: 'btn btn-danger' if current_user %>
    </nav>
    <%= render 'layouts/flash' %>
    <%= yield %>
  </body>
</html>
