<!DOCTYPE html>
<html>
  <head>
    <title>MyTaskManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class='navbar justify-content-end'>
      <%= link_to 'Admin', admin_users_path, class: 'btn btn-primary' if current_user&.admin? %>
      <%= link_to 'Logout', logout_path, method: :delete, class: 'btn btn-danger mx-3' if current_user %>
    </nav>
    <%= render 'layouts/flash' %>
    <%= yield %>
  </body>
</html>
